$c-black: black;
$c-blue: #89deff;
$c-dark-blue: #20293a;
$c-dark-grey: #3e495e;
$c-green: #3e8e41;
$c-light-blue: #49abfe;
$c-light-grey: #cbd2df;
$c-navy-blue: #1b2347;
$c-orange: #f89a35;
$c-red: red;
$c-sapphire: #8495b7;
$c-web-blue: blue;
$c-white: white;
$c-yellow: #f8bf35;

$ff-primary-bold: 'SourceSansPro-Bold';
$ff-primary-light: 'SourceSansPro-Light';
$ff-primary-regular: 'SourceSansPro-Regular';